<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="icon" href="https://pbs.twimg.com/media/E8FCOogXMAEXpJg.jpg" type="image/x-icon">
    <!-- Css -->
    <link rel="stylesheet" href="/css/style.css">
    <title>OTD Store - Điện thoại, tablet, laptop</title>
</head>

<body>
    <div class="app">
        <div class="container">
            <nav class="navbar">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="/theme/assets/logoOTDstr-01.png" alt="">
                </a>
                <ul class="navbar-brand-list">
                    <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li><a asp-controller="Home" asp-action="Feature">Sản phẩm</a></li>
                    <li><a asp-controller="Home" asp-action="About">Về chúng tôi</a></li>
                </ul>
                <div class="nav-login">
                    <a href="./cart.html"><i class="fas fa-shopping-cart"></i></a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div method="post" class="dropdown">
                            <button class="nav-login-btn">@User.Identity.Name</button>
                            <div class="dropdown-content">
                                <form method="post" asp-controller="Account" asp-action="Profile">
                                    <button type="submit">Thông tin</button>
                                </form>
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <button type="submit">Đăng xuất</button>
                                </form>
                            </div>
                        </div>
                    }
                    else
                    {
                        <Button class="nav-login-btn"><a href="/Account/Login">Đăng nhập</a></Button>
                    }
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="typeProducts">
                    <div class="typeProduct-filter">
                        <i class="fas fa-sliders-h"></i>
                        <h3 class="nav-filter-click">Filter</h3>
                    </div>
                    <input type="text" class="Search-product" placeholder="Tìm kiếm">
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Filter")
        @RenderBody()
        <div class="footer">
            <div class="row row-footer">
                <div class="footer-col">
                    <ul class="footer-col-list">
                        <li class="footer-brand"><img src="/theme/assets/logoOTDstr-01.png" alt=""></li>
                        <li>SĐT: 0847232292</li>
                        <li>
                            <div class="footer-icon">
                                <i class="fab fa-facebook-square"></i>
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-twitter-square"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <ul class="footer-col-list">
                        <li>Dịch vụ</li>
                        <li>Mua sản phẩm</li>
                        <li>Bán sản phẩm</li>
                        <li>Trả sản phảm</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <ul class="footer-col-list">
                        <li>Công ty</li>
                        <li>About Us</li>
                        <li>Contact Us</li>
                        <li>Our Team</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <ul class="footer-col-list">
                        <li>Hỗ trợ</li>
                        <li>FAQ's</li>
                        <li>Trung tâm hỗ trợ</li>
                        <li>Trung tâm trợ giúp</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <ul class="footer-col-list">
                        <li>Đăng ký</li>
                        <li>Đăng ký thông tin</li>
                        <li>Thông qua email <i class="far fa-envelope"></i> </li>
                        <li><span>Copyright &copy;2021</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var counter = 1;
        setInterval(function () {
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if (counter > 2) {
                counter = 1;
            }
        }, 2000)
    </script>
    <script src="/js/function.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>