@using OTDStore.ViewModels.System.Mail
@model MailRequest
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="icon" href="https://pbs.twimg.com/media/E8FCOogXMAEXpJg.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>Quên mật khẩu</title>
</head>

<body>
    <div class="app">
        <div class="login">
            <div class="login-box">
                <div class="login-col-1">
                    <a href="/Account/Login"><i class="fas fa-arrow-left"></i> </a>
                    <a href="/Account/Login">
                        <h1>OTD Store</h1>
                    </a>
                    <p>Xin chào quý khách.</p>
                    <img src="/theme/assets/logoOTDstr-01.png" alt="">
                </div>
                <div class="login-col-2">
                    <h1 class="login-name">QUÊN MẬT KHẨU</h1>
                    <div class="alert-row">
                        @if (ViewBag.SuccessMsg != null)
                        {
                            <div id="msgAlert" class="alert alert-success" role="alert">
                                @ViewBag.SuccessMsg
                            </div>
                        }
                    </div>
                    <form action="/Account/ResetPassword" method="post" class="login-div">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <p class="login-label">EMAIL</p>
                        <input asp-for="ToEmail" placeholder="Email" class="login-input">
                        <button type="submit" class="login-btn">Xác nhận</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
</body>

</html>
