
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about">
    <div class="container">
        <div class="row__about">
            <h1 class="about__title">FAQ</h1>
            <p class="about__desc">OTD Store là hệ thống kinh doanh nhượng quyền bán lẻ Smartphone, Laptop, Tablet chính hãng , là đối tác của các hãng điện thoại, laptop chính hãng lớn tại Việt Nam như: Apple, Samsung, Xiaomi, Asus…</p>
            <ul class="about__list">
                <li>Hệ thống bán lẻ điện thoại toàn quốc: Điện thoại di động, Laptop, Máy tính bảng chính hãng</li>
                <li>Đối tác toàn diện của Samsung Việt nam, Sony, Asus, . . .</li>
                <li>Đã phục vụ hơn 330.000 khách hàng với hơn 45.000 lượt khách mỗi tháng trên toàn hệ thống</li>
                <li>Bán hàng chính hãng, giá cạnh tranh nhất</li>
                <li>Bảo hành 1 đổi 1 1 năm với iPhone, iPad .</li>
                <li>Bảo hành chính hãng 12 tháng, đổi mới 30 ngày với các sản phẩm Sony, Samsung, Asus</li>
            </ul>
            <img src="/theme/assets/thank.webp" class="about__img">
            <h2 class="about__locaton-title">LOCATION</h2>
            <p class="about__detail">Thu Duc City, HCM City, Vietnam</p>
            <p class="about__detail">Call +84945378809</p>
            <h2 class="about__locaton-title">CONNECT US</h2>
            <ul class="about__socials">
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-youtube"></i></li>
            </ul>
        </div>
    </div>
</div>

